* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background:linear-gradient(to right, rgba(128, 0, 128, 0.582), rgba(255, 255, 0, 0.368));
    height: 100vh;
}

ul {
    list-style: none;
    width: 100%;
    max-width: 400px;
}

.list {
    background: rgba(255, 0, 0, 0.6);
    padding: 12px 16px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.list:hover {
    background-color: rgba(173, 216, 230, 0.9);
}

.selected {
    background-color: antiquewhite;
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.button {
    cursor: pointer;
    background-color: lightgreen;
    padding: 12px 24px;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(100, 221, 100);
}

.disableBtn {
    cursor: not-allowed;
    background-color: grey;
    color: #fff;
    padding: 12px 24px;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
    opacity: 0.6;
}

/* New score class */
.score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    background: #f7f7f7;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
